*{
    padding:0;
    margin:0;
}
header{
    background-color: orange;
    color: #fff;
    height:40px;
    padding: 10px;
    border-bottom: 3px solid black;
    font-family: Arial;
}
h2{
    font-family: Arial;
}
p{
    font-family:Helvetica;
}
main{
    margin: 15px;
    padding: 20px 30px 20px 30px; /*ou 20px 30px*/
    width: 90vw;
    height: 80vh;
}
article{
    margin-top: 25px; /*ou 25px 0*/
    margin-bottom: 25px;
}
.destaque{
    color: orange;
}
footer{
    background-color: black;
    color: #fff;
    height: 40px;
    padding: 10px;
}